### IDE ###
project.xml
project.properties
/nbproject/private/
.buildpath
.project
.settings*
sftp-config.json
.idea/
.iml
.floo
.flooignore

### Dev ###
/build
/node_modules/
/vendor/
composer.lock

### Tests ###
/tmp
/tests/bin/tmp

### Logs ###
*.log
/logs

### SVN ###
.svn
/svn

### OS crap ###
.DS_Store?
ehthumbs.db
Icon?
Thumbs.db
.tmp
.temp
